// Default header variables
$header-height:			rem-calc(50px) !default;
$header-padding:		rem-calc(20px) !default;
$header-alpha: 			0.85 !default;

header {
	@include position(fixed, -10% 0 null 0);
	display: block;
	min-height: $header-height;
	padding: $header-padding;
	background-color: #000000;
	background-color: rgba(#000000, $header-alpha);
	opacity: 0;
	z-index: 9999;
	@include transition(all $global-transition-speed $global-transition-timing);
}