{% macro section(id, anchor, shade='dark') %}
	
	<section id="{{ id }}" data-anchor="{{ anchor }}" data-shade="{{ shade }}" class="section">
		
		<!-- Background Image -->
		<div class="fullpage-background"></div>
		
		<!-- Content -->
		<div class="row">
			{% include "partials/section" + anchor|capitalize + ".html" ignore missing %}
		</div>
	</section>

{% endmacro %}

{% macro nav(anchor, value="") %}
	<li data-menuanchor="{{ anchor }}"><a href="#{{ anchor }}">{{ value }}</a></li>
{% endmacro %}