<!-- index.html -->
{% extends "layout.html" %}
  
{% block content %}
    
  <section id="biojoint-hero" data-anchor="welcome" data-shade="dark" class="section">
		<div class="row">
			Welcome
		</div>
	</section>
	<section id="about-biojoint" data-anchor="about" data-shade="dark" class="section">
		<div class="row">
			About
		</div>
	</section>
	<section id="patient-stories" data-anchor="stories" data-shade="dark" class="section">
		<div class="row">
			Stories
		</div>
	</section>
	<section id="biojoint-team" data-anchor="team" data-shade="light" class="section">
		<div class="row">
			Team
		</div>
	</section>
	<section id="moi-experience" data-anchor="experience" data-shade="dark" class="section">
		<div class="row">
			Experience
		</div>
	</section>
	<section id="contact-us" data-anchor="contact" data-shade="light" class="section">
		<div class="row">
			Contact
		</div>
	</section>
	<section id="request-appointment" data-anchor="appointment" data-shade="dark" class="section">
		<div class="row">
			Appointment
		</div>
	</section>
    
{% endblock %}